body {
  margin: 12px 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12pt;
}

h1 {
  transform-origin: 0 0;
}

.image-w img, .image-w svg {
	display: block;
  width: 100%;
  height: auto;
}

.ember-logo {
  max-width: 100px;
  transform: translateX(-120%)
}
