<h1>ember-{{appName}}</h1>

<button {{action 'gsapTest'}}>use gsap</button>

{{ember-logo}}

{{#draggable-item}}
  <h2>DRAG ME</h2>
{{/draggable-item}}

<small>Test app made by <a href="https://github.com/sheriffderek" target="_blank">@sherriffderek</a></small>
