<h1>ember-{{appName}}</h1>

<button {{action 'gsapTest'}}>use gsap</button>

{{ember-logo}}

<small>Test app made by <a href="https://github.com/sheriffderek" target="_blank">@sherriffderek</a></small>
